<%= form_with url: session_path, local: true do |form| %>
  <%= flash_message(:alert) %>
  
  <p>
    <%= form.label :email %>
    <%= form.text_field :email, id: :email %>
  </p>

  <p>
    <%= form.label :password %>
    <%= form.password_field :password, id: :password %>
  </p>

  <p>
    <%= form.submit 'Enter' %><br>
  </p>
<% end %>
