<%= form_with(model:[:admin, @question, @answer]) do |form| %>
  <%= render 'shared/errors', resource: @answer %>

    <div class="mb-3">  
      <p>
        <%= form.label :body, class: 'form-label' %><br> 
        <%= form.text_area :body, id: :answer_body, rows: 7, class: "form-control" %>
      </p>
    </div>

    <p>
      <%= form.label :correct %><br>
      <%= form.check_box :correct, id: :answer_correct, class: 'form-check-input' %>
    </p>

    <p><%= form.submit class: 'btn btn-primary' %></p>
<% end %>

