<div class="row">  
  <div class="col col-md-4">    
    <h1><%= t('.question') %></h1>

    <p>
      <%= @answer.question.body %>
    </p>

    <p>
      <b><%= t('.answer') %>:</b>
      <%= @answer.body %>
    </p>

    <p>
      <b><%= t('.correct') %>:</b>
      <%= correct_true_and_false %>
    </p>

    <%= link_to t('.back'), admin_question_path(@answer.question) %>
  </div>
</div>
