<div class="row">  
  <div class="col col-md-4">    
    <h1><%= question_header(@question) %></h1>

    <%= form_with(model:[:admin, @question]) do |form| %>
      <%= render 'shared/errors', resource: @question %>

      <p>
        <%= form.label :body %><br>
        <%= form.text_field :body, class: "form-control" %>
      </p>

      <p><%= form.submit class: 'btn btn-primary' %></p>
    <% end %>

    <%= link_to t('.back'), admin_test_path(@question.test) %>
  </div>
</div>
