<div class="row">  
  <div class="col col-md-4">    
    <p>
      <strong><%= t('.title') %>:</strong>
      <%= @test.title %>
    </p>

    <p>
      <strong><%= t('.level') %>:</strong>
      <%= @test.level %>
    </p>

    <p>
      <%= link_to t('.new_question'), new_admin_test_question_path(@test) %>
    </p>

    <table class="table table-bordered">
      <tr>
        <th><%= t('.questions') %></th>
        <th colspan="3" class="text-center"><%= t('.action') %></th>
      </tr>

      <%= render @test.questions %>
    </table><br>

    <%= form_with(model:[:admin, @test]) do |form| %>
      <p>
        <%= form.label :test_time %><br>
        <%= form.text_field :test_time, id: :test_test_time, class: 'form-control' %><br>

        <%= form.label :publication %><br>
        <%= form.check_box :publication, id: :test_publication, class: 'form-check-input' %><br>
        
        <%= form.submit class: 'btn btn-primary' %>
      </p>
    <% end %>

    <%= link_to t('.edit'), edit_admin_test_path(@test) %> |
    <%= link_to t('.back'), admin_tests_path %> |
    <%= link_to t('.delete'), admin_test_path(@test), method: :delete, data: { confirm: t('.confirmation')} %>

  </div>
</div>
