<div class="row mt-3"> 
  <div class="col col-md-4">
    <h1><%= t('.header') %></h1>

    <table>
      <thead>  
        <tr>
          <th class="sort-by-title pointer">
            <%= t('.title') %>
            <%= octicon 'arrow-up', class: 'text-success hide' %>
            <%= octicon 'arrow-down', class: 'text-success hide' %>
          </th>
          <th class="text-center"><%= t('.level') %></th>
          <th class="text-center"><%= t('.number_of_question') %></th>
          <th class="text-center"><%= t('.action') %></th>
        </tr>
      </thead>

      <%= render @tests %>
    </table>

    <p>
      <%= link_to t('.feedback'), feedback_index_path %><br>
      <%= link_to "Бейджи", badges_path %>
    </p>

  </div>
</div>
